$fonts-dir: '../fonts';
$img-dir: '../imagens';

$body-color: #fff;

$browser-context: 14;
$base-font-size: #{$browser-context}px;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: '';

$primary-color: #313135;
$secondary-color: #dfbd00;
$tertiary-color: #999;